<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>GameChanger</title>

<!-- Fontawesome -->
<link type="text/css" href="../static/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Main CSS -->
<link type="text/css" href="../static/css/spaces.css" rel="stylesheet">

</head>
<style>
    /* page-loading */
  #loading {
     width: 100%;
     height: 100%;
     top: 0;
     position: fixed;
     display: block;
     opacity: 0.6;
     background: #e4e4e4;
     z-index: 99;
     text-align: center;
  }

  #loading > img {
     position: absolute;
     top: 30%;
     left: 45%;
     z-index: 100;
  }
   #loading > p {
       position: absolute;
       top: 50%;
       left: 55%;
       z-index: 101;
    }
</style>

<body>
    <header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-theme-primary navbar-expand-lg headroom py-lg-3 px-lg-6 navbar-dark navbar-transparent navbar-theme-primary">
        <div class="container">
            <a class="navbar-brand @@logo_classes" href="/">
                <div class="d-none d-lg-block @@cta_button_classes">
                    <a href="/" class="btn btn-md btn-outline-white animate-up-2 mr-3"><span class="d-none d-xl-inline">GAMECHANGER</span></a>
                </div>
            </a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="./index.html">
                                <img src="../static/assets/img/brand/dark.svg" height="35" alt="Logo Impact">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse"
                                data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="d-flex d-lg-none align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                    aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
            </div>
        </div>
    </nav>
</header>
    <main>
        <!-- Hero -->
        <section class="section section-header section-image bg-primary overlay-primary text-white pb-4 pb-md-7" data-background="../assets/img/hero-1.jpg">
            <div class="container">
                <div class="row justify-content-center mb-4 mb-xl-5">
                    <div class="col-12 col-xl-10 text-center">
                        <!-- Heading -->
                        <h1 class="display-2">
                            스팀 유사 게임 찾기
                        </h1>
                        <!-- Text -->
                        <p class="lead text-muted mt-4 px-md-6">
                            당신의 생각속에서 만들어본 게임을 입력해보세요! <br/>스팀에 있는 <span class="font-weight-bold">50000+</span> 개의 게임 중에 유사한 게임들을 찾아줍니다.
                        </p>
                        
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-12">
                        <div class="card p-md-2">
                            <div class="card-body p-2 p-md-0">
                                
                                <form autocomplete="off"  method="post" action="/result">
                                    
                                    <div class="col-12 col-lg-5">                                 
                                        <label for="text"><h5 style="color: black;">게임에 대한 설명을 해주세요! </h5></label><br>
                                        <textarea id="text" name="text" rows="20" cols="128" placeholder="내용 입력" required></textarea><br>
                                    
                                        <input type="submit" class="btn-primary" id="lodingBtn" value="제출" onclick="commit()">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="loading" style="margin-left: 0px;">
                <img src="https://www.railtrip.co.kr/image/loading2.gif">
                <p>Loading..</p>
            </div>
        </section>
    </main>
</div>

<!-- Core -->
<script src="../static/vendor/jquery/dist/jquery.min.js"></script>
<script src="../static/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="../static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../static/vendor/headroom.js/dist/headroom.min.js"></script>
<script src="../static/vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script>
    $(document).ready(function() {

    $('#loading').hide();
    $('#lodingBtn').click(function(){
        $('#loading').show();
        console.log("실행중")
        setTimeout(" $('#loading').hide()", 30000); 
        console.log("실행끝")
        setTimeout("ozit_timer_test()", 30000);           
        return true;
        });
    });


    function ozit_timer_test(){
      var link = '../result/';
      location.href=link;
    };
</script>

<!-- Spaces custom Javascript -->
<script src="../static/assets/js/spaces.js"></script>
</body>

</html>