@charset "utf-8";
/* CSS Document */

/* RESET */

@font-face{
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: normal;
  src: url('font/NanumGothic.eot');
  src: local('☺'), url('font/NanumGothic.woff') format('woff');
}

@font-face{
  font-family: 'NanumGothicBold';
  font-style: normal;
  src: url('font/NanumGothicBold.eot');
  src: local('☺'), url('font/NanumGothicBold.woff') format('woff'); 
}

@media all and (min-width:768px) {
	@font-face{
	font-family: 'NanumGothic';
	src:url'font/NanumGothic.eot');
	src:local('☺'), url('font/NanumGothicBold.woff') format('woff')
	}
	@font-face{
	  font-family: 'NanumGothicBold';
	  src: url('font/NanumGothicBold.eot');
	  src: local('☺'), url('font/NanumGothicBold.woff') format('woff'); 
	}

	body{font-family:"나눔고딕", NanumGothic, ng, AppleGothic;}
}


html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time.select { font-family:"나눔고딕",NanumGothic,"돋움",Dotum,Arial,Tahoma ;margin: 0; padding: 0; border:0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption { font-size: 1em; font-weight: normal; font-style: normal; }
caption,th { text-align: left; }
img {border:none}
table { border-collapse: collapse; border-spacing: 0; }
article,aside,footer,header,hgroup,nav,section,figure,figcaption { display: block; }
legend, hr, caption {position:absolute; font-size:0;height:0;line-height:0;visibility:hidden; width:0;}
